In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [4]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [5]:
# Load the data
file_path = Path('../LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [6]:
#Columns with data types
df.dtypes
df.dtypes[df.dtypes != 'int64'][df.dtypes != 'float64']

home_ownership          object
verification_status     object
issue_d                 object
loan_status             object
pymnt_plan              object
initial_list_status     object
next_pymnt_d            object
application_type        object
hardship_flag           object
debt_settlement_flag    object
dtype: object

In [7]:
#investigate issue date column
issue_date = df["issue_d"].drop_duplicates()
issue_date

0        Mar-2019
3181     Feb-2019
37369    Jan-2019
Name: issue_d, dtype: object

In [8]:
#investigate payment date column
payment_date = df["next_pymnt_d"].drop_duplicates()
payment_date

0      May-2019
782    Apr-2019
Name: next_pymnt_d, dtype: object

# Split the Data into Training and Testing

In [9]:
#Encode text columns 
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
columns_to_encode = ("home_ownership", "verification_status", "pymnt_plan", "initial_list_status","application_type", "hardship_flag", "debt_settlement_flag")
for column in columns_to_encode:
    df[column] = le.fit_transform(df[column])
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,3,66000.0,1,Mar-2019,low_risk,0,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,0,0
1,25000.0,0.2000,929.09,1,105000.0,2,Mar-2019,low_risk,0,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,0,0
2,20000.0,0.2000,529.88,1,56000.0,2,Mar-2019,low_risk,0,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,0,0
3,10000.0,0.1640,353.55,3,92000.0,2,Mar-2019,low_risk,0,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,0,0
4,22000.0,0.1474,520.39,1,52000.0,0,Mar-2019,low_risk,0,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,0,0

In [10]:
#Encode date columns
encoded = {"Jan-2019": 1,
        "Feb-2019": 2,
        "Mar-2019": 3,
        "Apr-2019": 4,
        "May-2019": 5}
date_col_encode = ("issue_d", "next_pymnt_d")
for each_date_col in date_col_encode:
        name = "encoded_" + each_date_col
        df[name] = df[each_date_col].apply(lambda x: encoded[x])
        df= df.drop([each_date_col], axis =1)
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,dti,delinq_2yrs,...,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag,encoded_issue_d,encoded_next_pymnt_d
0,10500.0,0.1719,375.35,3,66000.0,1,low_risk,0,27.24,0.0,...,0.0,0.0,65687.0,38199.0,2000.0,61987.0,0,0,3,5
1,25000.0,0.2000,929.09,1,105000.0,2,low_risk,0,20.23,0.0,...,1.0,0.0,271427.0,60641.0,41200.0,49197.0,0,0,3,5
2,20000.0,0.2000,529.88,1,56000.0,2,low_risk,0,24.26,0.0,...,0.0,0.0,60644.0,45684.0,7500.0,43144.0,0,0,3,5
3,10000.0,0.1640,353.55,3,92000.0,2,low_risk,0,31.44,0.0,...,1.0,0.0,99506.0,68784.0,19700.0,76506.0,0,0,3,5
4,22000.0,0.1474,520.39,1,52000.0,0,low_risk,0,18.76,0.0,...,0.0,0.0,219750.0,25919.0,27600.0,20000.0,0,0,3,5

In [11]:
#Encode text columns 
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
columns_to_encode = ("home_ownership", "verification_status", "pymnt_plan", "initial_list_status","application_type", "hardship_flag", "debt_settlement_flag")
for column in columns_to_encode:
    df[column] = le.fit_transform(df[column])
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,dti,delinq_2yrs,...,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag,encoded_issue_d,encoded_next_pymnt_d
0,10500.0,0.1719,375.35,3,66000.0,1,low_risk,0,27.24,0.0,...,0.0,0.0,65687.0,38199.0,2000.0,61987.0,0,0,3,5
1,25000.0,0.2000,929.09,1,105000.0,2,low_risk,0,20.23,0.0,...,1.0,0.0,271427.0,60641.0,41200.0,49197.0,0,0,3,5
2,20000.0,0.2000,529.88,1,56000.0,2,low_risk,0,24.26,0.0,...,0.0,0.0,60644.0,45684.0,7500.0,43144.0,0,0,3,5
3,10000.0,0.1640,353.55,3,92000.0,2,low_risk,0,31.44,0.0,...,1.0,0.0,99506.0,68784.0,19700.0,76506.0,0,0,3,5
4,22000.0,0.1474,520.39,1,52000.0,0,low_risk,0,18.76,0.0,...,0.0,0.0,219750.0,25919.0,27600.0,20000.0,0,0,3,5

In [12]:
# Create our features
X = df.drop(columns=['loan_status'], axis=1)

# Create our target
y = df['loan_status']

In [13]:
X.describe()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,pymnt_plan,dti,delinq_2yrs,inq_last_6mths,...,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag,encoded_issue_d,encoded_next_pymnt_d
count,68817.000000,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,6.881700e+04,6.881700e+04,68817.000000,6.881700e+04,68817.0,68817.0,68817.000000,68817.000000
mean,16677.594562,0.127718,480.652863,1.812779,8.821371e+04,0.669994,0.0,21.778153,0.217766,0.497697,...,0.125972,0.0,2.100332e+05,6.133843e+04,29734.128558,5.572240e+04,0.0,0.0,1.726172,4.616839
std,10277.348590,0.048130,288.062432,0.941313,1.155800e+05,0.719105,0.0,20.199244,0.718367,0.758122,...,0.336732,0.0,1.928088e+05,5.738798e+04,26795.394232,5.095845e+04,0.0,0.0,0.743862,0.486161
min,1000.000000,0.060000,30.890000,0.000000,4.000000e+01,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,3.600000e+03,2.350000e+02,100.000000,1.270000e+02,0.0,0.0,1.000000,4.000000
25%,9000.000000,0.088100,265.730000,1.000000,5.000000e+04,0.000000,0.0,13.890000,0.000000,0.000000,...,0.000000,0.0,6.697700e+04,2.650300e+04,11600.000000,2.288000e+04,0.0,0.0,1.000000,4.000000
50%,15000.000000,0.118000,404.560000,1.000000,7.300000e+04,1.000000,0.0,19.760000,0.000000,0.000000,...,0.000000,0.0,1.467100e+05,4.535700e+04,22100.000000,4.200000e+04,0.0,0.0,2.000000,5.000000
75%,24000.000000,0.155700,648.100000,3.000000,1.040000e+05,1.000000,0.0,26.660000,0.000000,1.000000,...,0.000000,0.0,3.036400e+05,7.657000e+04,39300.000000,7.249900e+04,0.0,0.0,2.000000,5.000000
max,40000.000000,0.308400,1676.230000,3.000000,8.797500e+06,2.000000,0.0,999.000000,18.000000,5.000000,...,4.000000,0.0,3.292782e+06,1.295455e+06,509400.000000,1.426964e+06,0.0,0.0,3.000000,5.000000

In [14]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [15]:
# Create X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [16]:
# Resample the training data with the RandomOversampler
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({'low_risk': 51366, 'high_risk': 51366})

In [17]:
#Balanced random Forest Classifier
from imblearn.ensemble import BalancedRandomForestClassifier
brf = BalancedRandomForestClassifier(n_estimators=100, random_state=0)
brf.fit(X_train, y_train) 
y_pred = brf.predict(X_test)

In [18]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.7509305333012253

In [19]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[   63,    38],
       [ 2085, 15019]])

In [20]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.62      0.88      0.06      0.74      0.53       101
   low_risk       1.00      0.88      0.62      0.93      0.74      0.56     17104

avg / total       0.99      0.88      0.63      0.93      0.74      0.56     17205

In [21]:
# List the features sorted in descending order by feature importance
sorted(zip(brf.feature_importances_, X.columns), reverse=True)

[(0.08793874608724468, 'total_rec_prncp'),
 (0.07132323109550145, 'last_pymnt_amnt'),
 (0.061696863926591156, 'total_rec_int'),
 (0.06090717271235531, 'total_pymnt_inv'),
 (0.052586209626425476, 'total_pymnt'),
 (0.030886145946044524, 'encoded_issue_d'),
 (0.03027968561919021, 'int_rate'),
 (0.023072937817812854, 'dti'),
 (0.022962264429595182, 'installment'),
 (0.016992994712768158, 'mths_since_recent_inq'),
 (0.01650940363414259, 'mo_sin_old_rev_tl_op'),
 (0.016311447178271262, 'out_prncp'),
 (0.01623874142339483, 'out_prncp_inv'),
 (0.015202323803112705, 'bc_util'),
 (0.015111090445727886, 'total_bc_limit'),
 (0.015043673453838592, 'mths_since_recent_bc'),
 (0.014693039351204567, 'mths_since_rcnt_il'),
 (0.014309423171979432, 'total_bal_ex_mort'),
 (0.014189734748258869, 'avg_cur_bal'),
 (0.013882167049499128, 'max_bal_bc'),
 (0.013655622549417601, 'il_util'),
 (0.013097303527184488, 'bc_open_to_buy'),
 (0.012969514335347114, 'total_bal_il'),
 (0.012932813502461983, 'tot_hi_cred_lim'),
 (0.012264223179502069, 'total_rev_hi_lim'),
 (0.01211435724778686, 'loan_amnt'),
 (0.011960741164490371, 'annual_inc'),
 (0.011957116678509416, 'mo_sin_old_il_acct'),
 (0.011798263925532288, 'pct_tl_nvr_dlq'),
 (0.011036179940299467, 'inq_last_12m'),
 (0.010773804538388951, 'total_il_high_credit_limit'),
 (0.010699842958545584, 'all_util'),
 (0.010517780674957256, 'tot_cur_bal'),
 (0.010504131146029404, 'revol_bal'),
 (0.010389928722791437, 'num_il_tl'),
 (0.010137951084237937, 'acc_open_past_24mths'),
 (0.009746420383444475, 'num_rev_accts'),
 (0.00961400700174647, 'open_acc'),
 (0.009499393681464659, 'total_acc'),
 (0.009109378920458237, 'num_bc_tl'),
 (0.008791364948477988, 'mo_sin_rcnt_tl'),
 (0.008560838107171408, 'total_cu_tl'),
 (0.008357185156772152, 'open_il_24m'),
 (0.00820931887603373, 'total_rec_late_fee'),
 (0.007982075526232764, 'mo_sin_rcnt_rev_tl_op'),
 (0.007944747295544863, 'num_rev_tl_bal_gt_0'),
 (0.007519001047085846, 'num_op_rev_tl'),
 (0.007406155431662167, 'num_sats'),
 (0.007033211346312646, 'num_tl_op_past_12m'),
 (0.006999256839638399, 'inq_fi'),
 (0.006619935291842515, 'open_acc_6m'),
 (0.006441580464303303, 'open_act_il'),
 (0.006439977257854337, 'percent_bc_gt_75'),
 (0.006092902774064809, 'mort_acc'),
 (0.006068269943329885, 'inq_last_6mths'),
 (0.005696259436208998, 'open_rv_24m'),
 (0.005694970170640864, 'num_actv_rev_tl'),
 (0.004757708726096539, 'open_il_12m'),
 (0.004649195467017297, 'tot_coll_amt'),
 (0.004377714025569014, 'encoded_next_pymnt_d'),
 (0.0042789695890643, 'open_rv_12m'),
 (0.0038931542926071584, 'num_actv_bc_tl'),
 (0.0038832978556522426, 'verification_status'),
 (0.0037166983633391405, 'num_bc_sats'),
 (0.003022009091488361, 'home_ownership'),
 (0.0029129015400442613, 'delinq_2yrs'),
 (0.0019579773303571796, 'num_accts_ever_120_pd'),
 (0.0018028650076704084, 'application_type'),
 (0.0014933263453484197, 'pub_rec'),
 (0.0009848527379538868, 'pub_rec_bankruptcies'),
 (0.0008037705475237088, 'initial_list_status'),
 (0.000692437771536512, 'num_tl_90g_dpd_24m'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag'),
 (0.0, 'collections_12_mths_ex_med'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'chargeoff_within_12_mths'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble AdaBoost Classifier

In [22]:
# Train the Classifier
from imblearn.ensemble import EasyEnsembleClassifier
eec = EasyEnsembleClassifier(n_estimators=100, random_state=0)
eec.fit(X_train, y_train) 
y_pred = eec.predict(X_test)

In [23]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.9326247580323982

In [24]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   93,     8],
       [  950, 16154]])

In [25]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.09      0.92      0.94      0.16      0.93      0.87       101
   low_risk       1.00      0.94      0.92      0.97      0.93      0.87     17104

avg / total       0.99      0.94      0.92      0.97      0.93      0.87     17205